:root {
  --color-orange-50: #fffaf4; // used
  --color-orange-100: #fff7ee; // used
  --color-orange-300: #fe5f1e;
  --color-orange-500: #fe5f00; // used
  --color-orange-600: #ff4800; // used

  /* emerald */
  --color-emerald-100: #eaf8f4; // used
  --color-emerald-500: #1bb486;

  /* amber */
  --color-amber-200: #fff3b4;
  --color-amber-500: #917c12;

  /* red */
  --color-red-100: #fff0ef;
  --color-red-500: #ff544a;
  --color-red-700: #fe0000;

  /* dark */
  --color-dark-100: #4c4c4c;
  --color-dark-200: #414040;
  --color-dark-300: #333;
  --color-dark-500: #171717;
  --color-dark-700: #0d0d0d;
  --color-dark-900: #000; // used

  /* light */
  --color-light-100: #fff;
  --color-light-300: #efefef; // used
  --color-light-500: #edf3fa;
  --color-light-700: #d5daea; // used
  --color-light-800: #adadad;
  --color-light-900: #8d9094;
}
