:root {
  /* text */
  --color-text-primary: var(--color-stone-950);
  --color-text-secondary: var(--color-stone-600);
  --color-text-tertiary: var(--color-stone-400);
  --color-text-inverted: var(--color-orange-50);
  --color-text-accent: var(--color-orange-600);
  --color-text-error: var(--color-red-700);

  /* backgrounds */
  --color-bg-primary: var(--color-stone-50);
  --color-bg-secondary: var(--color-stone-100);
  --color-bg-image: var(--color-orange-100); /* pizza bg image color  */
  --color-bg-accent: var(--color-orange-600); /* button bg */
  --color-bg-accent-hover: var(--color-orange-700);

  /* borders */
  --radius-s: 16px;
  --radius-m: 20px;
  --border-primary: 1px solid var(--color-stone-300);
  --border-secondary: 1px solid var(--color-stone-200);
  --border-accent: 1px solid var(--color-orange-600);
  --border-accent-hover: 1px solid var(--color-orange-800);
}
