:root {
  /* text */
  --color-text-primary: var(--color-dark-900);
  --color-text-secondary: var(--color-light-800);
  --color-text-inverted: var(--color-light-100);
  --color-text-accent: var(--color-orange-500);
  --color-text-error: var(--color-red-700);

  /* backgrounds */
  --color-bg-primary: var(--color-light-100);
  --color-bg-image: var(--color-orange-100); /* pizza bg image color  */
  --color-bg-accent: var(--color-orange-500); /* button bg */

  /* borders */
  --radius-s: 10px;
  --radius-m: 16px;
  --border-accent: 1px solid var(--color-orange-500);
}
