.header {
  padding: 24px 0;
  background-color: var(--color-stone-100);
  border-bottom: var(--border-secondary);
  box-shadow: 0 0 3px rgb(0 0 0 / 15%);
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.form {
  flex-grow: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.actions {
  display: flex;
  gap: 15px;
}

.devider {
  width: 2px;
  height: 100%;
  background-color: var(--color-bg-accent);
}

.count {
  padding: 0 6px;
  color: var(--color-text-inverted);
  background-color: var(--color-bg-accent);
  border-radius: 50%;
}
