.categories {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  width: fit-content;
  max-width: 800px;
  padding: 4px;

  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-s);
}
